<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DLOD31.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DLOD31.Properties.Settings>
            <setting name="PatchWidth" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="HeightMap" serializeAs="String">
                <value>heightMapEarth513x513.png</value>
            </setting>
            <setting name="PatchLevelBias" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="HeightMultiplier" serializeAs="String">
                <value>0.08</value>
            </setting>
        </DLOD31.Properties.Settings>
    </userSettings>
</configuration>